/* General Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background-color: #fcfbfb;
    color: #333;
}

.container {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 20px;
}

/* Navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
    background: rgb(119, 168, 187);
}

.logo {
    font-size: 1.2rem;
    display: flex;
    align-items: center;
    gap: 10px;
}

.btn-trial {
    background-color:#F59E2D;
    color: rgb(251, 249, 249);
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
}

/* Hero Section with Diagonal Background */
.hero .container {
    max-width: 100% !important;
    padding-right: 0 !important;
    display: flex;
    align-items: center;
}

.hero-flex {
    display: flex;
    align-items: center;
    gap: 50px;
}

.hero-content {
    flex: 1;
    color: rgb(7, 6, 6);
}

.hero-content h1 {
    font-size: 3.5rem;
    line-height: 1.1;
    margin-bottom: 20px;
}

.hero-content p {
    font-size: 1.1rem;
    margin-bottom: 30px;
    max-width: 450px;
}

/* Input & Button Group */
.cta-input-group {
    background: rgb(72, 125, 239);
    padding: 5px;
    border-radius: 8px;
    display: inline-flex;
    width: 100%;
    max-width: 500px;
}

.cta-input-group input {
    border: none;
    padding: 15px;
    flex: 1;
    outline: none;
    font-weight: bold;
    color: #ccc;
}

.btn-primary {
    background-color: #ff9f1c;
    color: white;
    border: none;
    padding: 0 20px;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
}

.bottom-logo {
    margin-top: 40px;
}


/* Visual Section */
.hero-visual {
    flex: 1;
    background-image: url('images/CF033841.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    
    /* Pull the container to the left to close the white gap */
    margin-left: -100px; 
    width: 100%;
    
    /* Adjusted polygon to start further left */
    clip-path: polygon(10% 0%, 100% 0%, 100% 100%, 0% 100%);
    
    height: 100vh;
}



/* Story Section */
.story-section {
    padding: 80px 0;
    text-align: center;
    background: rgb(254, 216, 193);
}

.story-section h2 {
    font-size: 2.5rem;
    margin-bottom: 20px;
}

.story-section p {
    max-width: 800px;
    margin: 0 auto;
    line-height: 1.6;
    color: #030101;
    margin-bottom: 30px;
}

.story-images {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: 40px;
}

.story-images img {
    max-width: 100%;
    height: auto;
}

.story-images {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: 40px;
}

.story-images img {
    max-width: 100%;
    height: auto;
}
